@import url('https://fonts.googleapis.com/css?family=Noto+Serif+HK:300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700,800,900');
@import "./../assets/vars";
@import "./../assets/keyframes";
@import "../modules/nav";


@include nav-module-btn($color_text);

// COMMON

body {
	margin: 0;
	padding: 0;
}

.wrapper {
	background: #fff;
	font-family: $font_family;
	color: $color_text;
	font-weight: $font_weight;
	font-size: 18px;
	line-height: $line_height;
	position: relative;
	overflow: hidden;

	img,
	svg {
		max-width: 100%;
		max-height: 100%;
		vertical-align: middle;
	}

	a {
		text-decoration: none;
	}

	button {
		font-family: inherit;
		font-size: inherit;
		line-height: inherit;
	}

	* {
		box-sizing: border-box;
	}

	p {
		margin: 0;
		padding: 0;
	}
}

.container {
	max-width: 1504px;
	width: 100%;
	margin: 0 auto;
	position: relative;
	box-sizing: border-box;
}

.default-slider {
	width: 100%;
}

.section {
	position: relative;

	&--long {

		&,
		&-pt {
			padding-top: 8.8%;
		}

		&,
		&-pb {
			padding-bottom: 8.8%;
		}
	}

	&--medium {

		&,
		&-pt {
			padding-top: 5.6%;
		}

		&,
		&-pb {
			padding-bottom: 5.6%;
		}
	}

	&--short {

		&,
		&-pt {
			padding-top: 2.4%;
		}

		&,
		&-pb {
			padding-bottom: 2.4%;
		}
	}

	&__bg {
		position: relative;
		border-radius: 40px;

		&::before {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			width: 100%;
			height: 100%;
			content: '';
			background: url(../../images/fs-bg.png);
		}
	}
}

.title {
	font-size: 45px;
	line-height: 130%;
	font-weight: 700;
	font-family: $title-font;

	&--mb {
		&-short {
			margin-bottom: 20px;
		}

		&-long {
			margin-bottom: 40px;
		}
	}
}

.text {
	line-height: 1.5;
}

.nav {
	display: flex;
	gap: 24px;

	&__item {
		color: #333333 !important;
		transition: all .4s;
		height: 27px;

		&:hover {
			color: $color_primary !important;
			border-bottom: dashed;
		}
	}
}

// HEADER

.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	padding-top: 51px;

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__menu {
		display: flex;
		align-items: center;
		gap: 30px;
	}

	&__btn {
		padding: 14.5px 20px;
		background: #fff;
		color: #333333 !important;
		border-radius: 30px;
	}
}

// FIRST-SCREEN

.first-screen {
	padding: 22px;

	&__wrapper {
		background: #F4EFFF;
		padding: 198px 0 219px;
		position: relative;
	}

	&__inner {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		position: relative;
		z-index: 3;
	}

	&__content {
		width: 45%;
	}

	&__heading {
		font-size: 28px;
		line-height: 36px;
		color: $color_primary;
	}

	&__title {
		margin-top: 20px;
		font-size: 56px;
		line-height: 130%;
		font-weight: 700;
		font-family: $title-font;
	}

	&__text {
		margin-top: 20px;
	}

	&__btn {
		margin-top: 50px;
		border-radius: 40px;
		padding: 14.5px 40px;
		background: #333333;
		color: #fff;
		cursor: pointer;
	}

	&__img {
		width: 37%;
		margin-right: 47px;

		& img {
			border-radius: 30px;
		}
	}
}

// ADVANTAGES

.advantages {
	margin-top: -160px;
	z-index: 10;

	&__inner {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	&__card {
		width: 31.85%;
		background: #fff;
		border-radius: 20px;
		padding: 40px 50px;
		box-shadow: 0px 4px 17px rgba(200, 85, 200, .15);

		&:nth-child(1) {
			& .advantages__card-icon {
				background: #F4EFFF;
			}
		}

		&:nth-child(2) {
			& .advantages__card-icon {
				background: #F0FFF4;
			}
		}

		&:nth-child(3) {
			& .advantages__card-icon {
				background: #FFFAE6;
			}
		}
	}

	&__card-title {
		display: flex;
		align-items: center;
		gap: 18.5px;
		font-size: 26px;
		line-height: 34px;
		font-family: $title-font;
		font-weight: 700;
	}

	&__card-icon {
		width: 80px;
		height: 80px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
	}

	&__card-text {
		margin-top: 30px;
		color: #5E5E5E;
		font-size: 16px;
		line-height: 150%;
	}
}

// ABOUT

.about {
	&__inner {
		padding: 120px 96px;
		display: flex;
		align-items: center;
		gap: 129px;
		background: #F0FFF4;
	}
	
	&__img {
		position: relative;
		z-index: 3;
		width: 41.5%;

		& img {
			border-radius: 30px;
		}
	}

	&__content {
		position: relative;
		z-index: 3;
		width: 44%;
	}

	&__text {
		color: #5E5E5E;

		& p+p {
			margin-top: 20px;
		}
	}

	&__btn {
		margin-top: 40px;
		border-radius: 40px;
		padding: 14.5px 40px;
		background: #333333;
		color: #fff;
		cursor: pointer;
	}
}

// FOOTER

.footer {
	padding-top: 329px;
	padding-left: 20px;
	padding-right: 20px;

	&__wrapper {
		background: #FFFAE6;
		height: 620px;
		padding-top: 555px;
		z-index: 1;
	}

	&__card {
		position: absolute;
		z-index: 2;
		width: 100%;
		padding: 88.31px 128px;
		background: #fff;
		border-radius: 40px;
		transform: translateY(-187px);
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		box-shadow: 0px 4px 17px rgba(151, 121, 17, .25);
	}

	&__contacts-items {
		display: flex;
		flex-direction: column;
		gap: 24px;
	}

	&__contacts-item-heading {
		font-weight: 700;
	}

	&__contacts-item-text {
		margin-top: 10px;
		color: #5E5E5E !important;
	}

	&__form {
		margin-top: 24px;
	}

	&__form-wrapper {
		width: 48.8%;
	}

	&__form-container {
		display: flex;
		justify-content: space-between;
		margin: 15px 0;

		& input {
			width: 49%;
		}
	}

	&__form-text-area {
		width: 100%;
		height: 150px;
		border: 1px solid #e7e7e7;
		border-radius: 10px;
		font-size: 18px;
		line-height: 150%;
		padding: 15px 25px;
		resize: none;

		&::placeholder {
			font-size: 18px;
			line-height: 150%;
			color: #c4c4c4;
		}
	}

	&__form-title {
		font-size: 26px;
		line-height: 130%;
		font-weight: 700;
		font-family: $title-font;
	}

	&__form-input-name {
		width: 100%;
	}

	& input {
		height: 57px;
		font-size: 18px;
		line-height: 150%;
		border: 1px solid #e7e7e7;
		border-radius: 10px;
		padding-left: 25px;

		&::placeholder {
			font-size: 18px;
			line-height: 150%;
			color: #c4c4c4;
		}
	}


	&__form-text {
		font-size: 15px;
		line-height: 24px;
		margin-top: 20px;
		color: #5E5E5E;

		&-link {
			font-weight: 700;
			color: #5E5E5E !important;
			text-decoration: underline !important;
		}
	}

	&__form-btn {
		margin-top: 30px;
		width: 100%;
		border-radius: 40px;
		padding: 21px 40px;
		background: #333333;
		color: #fff;
		cursor: pointer;
	}

	&__links {
		position: absolute;
		bottom: 46px;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #5E5E5E;
		gap: 12px;
		z-index: 3;
	}
}