// FONT
$font_family              : "Roboto", serif;
$title-font               : "Noto Serif HK", serif;
$font_weight              : 400;
$line_height              : 150%;

// SCREEN SIZE — SS
$ll_laptop                : 1500px;
$ss_laptop                : 1339px;
$ss_tablet                : 1019px;
$ss_sm_tablet             : 699px;
$ss_phone                 : 529px;

// COLORS
$color_text               : #333333;
$color_primary            : #C855C8;